## This notebook analyses growth of startsup's in India during 2016 to 2022.

# Import Libraries

In [1]:
import numpy as np 
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# from wordcloud import WordCloud
import string

/Users/sse/opt/anaconda3/envs/py3.10/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Visualisations

In [2]:
df = pd.read_csv('../input/indian-startup-recognized-by-dpiit/Startup_Counts_Across_India.csv')
df.head().style.background_gradient(cmap='coolwarm')

In [3]:
df = df
intended_df_size_in_MB = 256
factor = intended_df_size_in_MB*(2**20)/df.memory_usage(index=True).sum()
if int(factor) > 0:
    df = pd.concat([df]*int(factor), ignore_index=True)
else:
    rowCount = int(df.shape[0]*factor)
    df = df[0:rowCount]
df = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6703958 entries, 0 to 6703957
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   S No.     int64
 1   Year      int64
 2   State     object
 3   Industry  object
 4   Count     int64
dtypes: int64(3), object(2)
memory usage: 255.7+ MB

# -- STEFANOS -- Replicate Data

## Industry Vs Year

In [4]:
# STEFANOS: Disable plotting
# fig = px.scatter(df,x="Industry", y="Year", size="Count", color="Count",template='plotly_dark', title="Industry Vs Year")
# fig.show()

## Year wise Startup Growth

In [5]:
# fig, ax = plt.subplots(1,1, figsize=(15, 6))
df_year = df['Year'].value_counts().sort_index()
# STEFANOS: Disable plotting
# ax.bar(df_year.index, df_year, width=0.55,linewidth=0.7, color = 'purple')
# for i in df_year.index:
#     ax.annotate(f"{df_year[i]}",xy=(i, df_year[i] + 100),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 1300)    
# fig.text(0.1, 0.95, "Growth of Startup's from 2016-2022", fontsize=15, fontweight='bold')    

# ax.grid(axis='y', linestyle='-', alpha=0.4)

## Various Industries and Its Count

In [6]:
df.groupby('Industry').size().sort_values(ascending=False).to_frame().style.background_gradient(cmap='coolwarm')

## Top 20 Startup Industries from 2016

In [7]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
df_ind = df['Industry'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(df_ind.index, df_ind, width=0.55,linewidth=0.7, color = 'pink')
# for i in df_ind.index:
#     ax.annotate(f"{df_ind[i]}",xy=(i, df_ind[i] + 20),va = 'center', ha='center')
# ax.set_ylim(0, 220)    
# fig.text(0.1, 0.95, "Top 20 Startup Industries from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

## Top 20 States with Max Startup's

In [8]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
X = df['State'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(X.index, X, width=0.55,linewidth=0.7, color = 'lightblue')
# for i in X.index:
#     ax.annotate(f"{X[i]}",xy=(i, X[i] + 50),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 400)    
# fig.text(0.1, 0.95, "Top 20 States Having maximum Start'ups from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

## AI related Startup's from 2016-2022

In [9]:
ds_list=['Internet of Things','AI','Robotics','Analytics','Computer Vision']
ds_df = df[df['Industry'].isin(ds_list)]

CPU times: user 337 ms, sys: 32.5 ms, total: 369 ms
Wall time: 369 ms

In [10]:
# STEFANOS: Disable plotting
# sns.set_style('whitegrid')
# sns.catplot(x='Year', hue = 'Industry', kind='count', data=ds_df,palette="Set3", height=8.27, aspect=11.7/8.27);
# plt.show()