In [1]:
import os
SNAPPY_notebook_path = os.path.join(os.path.abspath(""), "movie-rec.ipynb")

In [2]:
import time
SNAPPY_start_time = time.perf_counter_ns()

In [3]:
%load_ext autotime

time: 65.6 µs (started: 2024-05-24 23:30:25 -04:00)

In [4]:
%load_ext snappy_jupyter.snappy_magic

time: 464 ms (started: 2024-05-24 23:30:25 -04:00)

In [5]:
import os
# STEFANOS: Conditionally import Modin Pandas
import pandas as pd
import numpy as np 
df1=pd.read_csv(os.path.abspath('') + '/input/tmdb-movie-metadata/tmdb_5000_credits.csv')
df2=pd.read_csv(os.path.abspath('') + '/input/tmdb-movie-metadata/tmdb_5000_movies.csv')

time: 238 ms (started: 2024-05-24 23:30:25 -04:00)

In [6]:
factor = 50
if "IREWR_LESS_REPLICATION" in os.environ and os.environ["IREWR_LESS_REPLICATION"] == "True":
    factor = factor//3
df1 = pd.concat([df1]*factor, ignore_index=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240150 entries, 0 to 240149
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   movie_id  240150 non-null  int64
 1   title     240150 non-null  object
 2   cast      240150 non-null  object
 3   crew      240150 non-null  object
dtypes: int64(1), object(3)
memory usage: 7.3+ MB
time: 59.5 ms (started: 2024-05-24 23:30:25 -04:00)

In [7]:
df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')

time: 60.1 ms (started: 2024-05-24 23:30:25 -04:00)

In [8]:
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
2,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
3,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
4,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

time: 12.7 ms (started: 2024-05-24 23:30:25 -04:00)

In [9]:
C= df2['vote_average'].mean()
C

6.092171559442017

time: 1.3 ms (started: 2024-05-24 23:30:25 -04:00)

In [10]:
m= df2['vote_count'].quantile(0.9)
m

1840.0

time: 2.25 ms (started: 2024-05-24 23:30:25 -04:00)

In [11]:
q_movies = df2.copy().loc[df2['vote_count'] >= m]
q_movies.shape

(24050, 23)

time: 60.8 ms (started: 2024-05-24 23:30:25 -04:00)

In [12]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

time: 282 µs (started: 2024-05-24 23:30:25 -04:00)

In [13]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

time: 148 ms (started: 2024-05-24 23:30:25 -04:00)

In [14]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                          title  vote_count  vote_average     score
94074  The Shawshank Redemption        8205           8.5  8.058944
94079  The Shawshank Redemption        8205           8.5  8.058944
94077  The Shawshank Redemption        8205           8.5  8.058944
94076  The Shawshank Redemption        8205           8.5  8.058944
94075  The Shawshank Redemption        8205           8.5  8.058944
94073  The Shawshank Redemption        8205           8.5  8.058944
94072  The Shawshank Redemption        8205           8.5  8.058944
94071  The Shawshank Redemption        8205           8.5  8.058944
94070  The Shawshank Redemption        8205           8.5  8.058944
94069  The Shawshank Redemption        8205           8.5  8.058944

time: 8.34 ms (started: 2024-05-24 23:30:26 -04:00)

In [15]:
pop= df2.sort_values('popularity', ascending=False)
import matplotlib.pyplot as plt
# STEFANOS: Disable plotting
# plt.figure(figsize=(12,4))

# plt.barh(pop['title'].head(6),pop['popularity'].head(6), align='center',
#         color='skyblue')
# plt.gca().invert_yaxis()
# plt.xlabel("Popularity")
# plt.title("Popular Movies")

time: 236 ms (started: 2024-05-24 23:30:26 -04:00)

In [16]:
df2['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    In the 22nd century, a paraplegic Marine is di...
2    In the 22nd century, a paraplegic Marine is di...
3    In the 22nd century, a paraplegic Marine is di...
4    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

time: 1.89 ms (started: 2024-05-24 23:30:26 -04:00)

In [17]:
#Import TfIdfVectorizer from scikit-learn
# STEFANOS: Remove unneeded modules.
# from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
# STEFANOS: non-Pandas. The code that uses it is disabled.
# tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df2['overview'] = df2['overview'].fillna('')

# STEFANOS: non-Pandas. The code that uses it is disabled.
# #Construct the required TF-IDF matrix by fitting and transforming the data
# tfidf_matrix = tfidf.fit_transform(df2['overview'])

# #Output the shape of tfidf_matrix
# tfidf_matrix.shape

time: 11.9 ms (started: 2024-05-24 23:30:26 -04:00)

In [18]:
# STEFANOS: This takes an inordinate amount of memory and it's not Pandas.
# Because we're not using get_recommendations(), we're fine

# # Import linear_kernel
# from sklearn.metrics.pairwise import linear_kernel

# # Compute the cosine similarity matrix
# cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

time: 175 µs (started: 2024-05-24 23:30:26 -04:00)

In [19]:
#Construct a reverse map of indices and movie titles
# STEFANOS: Don't drop duplicates.
# indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()

time: 843 µs (started: 2024-05-24 23:30:26 -04:00)

In [20]:
# Function that takes in movie title as input and outputs most similar movies

# STEFANOS: get_recommendations() fails to run sometimes and it's not Pandas
# def get_recommendations(title, cosine_sim=cosine_sim):
#     # Get the index of the movie that matches the title
#     idx = indices[title]

#     # Get the pairwsie similarity scores of all movies with that movie
#     sim_scores = list(enumerate(cosine_sim[idx]))

#     # Sort the movies based on the similarity scores
#     # STEFANOS: This doesn't run
# #     sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
#     sim_scores = sorted(sim_scores, key=lambda x: x[1].any(), reverse=True)

#     # Get the scores of the 10 most similar movies
#     sim_scores = sim_scores[1:11]

#     # Get the movie indices
#     movie_indices = [i[0] for i in sim_scores]

#     # Return the top 10 most similar movies
#     return df2['title'].iloc[movie_indices]

time: 532 µs (started: 2024-05-24 23:30:26 -04:00)

In [21]:
# STEFANOS: get_recommendations() fails to run sometimes and it's not Pandas
# get_recommendations('The Dark Knight Rises')

time: 373 µs (started: 2024-05-24 23:30:26 -04:00)

In [22]:
# STEFANOS: get_recommendations() fails to run sometimes and it's not Pandas
# get_recommendations('The Avengers')

time: 305 µs (started: 2024-05-24 23:30:26 -04:00)

In [ ]:
# %%snappy
def extracted_cell(df2: DataFrame) -> DataFrame:
    """
Params:
df2: Rows: Single-level Index: Integer
     Columns: Single-level Index: ['budget: integer', 'genres: string', 'homepage: string', 'id: integer', 'keywords: string', 'original_language: string', 'original_title: string', 'overview: string', 'popularity: float', 'production_companies: string', 'production_countries: string', 'release_date: string', 'revenue: integer', 'runtime: float', 'spoken_languages: string', 'status: string', 'tagline: string', 'title: string', 'vote_average: float', 'vote_count: integer', 'tittle: string', 'cast: string', 'crew: string']

Returns:
Rows: Single-level Index: Integer
Columns: Single-level Index: ['budget: integer', 'genres: list of dict', 'homepage: string', 'id: integer', 'keywords: list of dict', 'original_language: string', 'original_title: string', 'overview: string', 'popularity: float', 'production_companies: string', 'production_countries: string', 'release_date: string', 'revenue: integer', 'runtime: float', 'spoken_languages: string', 'status: string', 'tagline: string', 'title: string', 'vote_average: float', 'vote_count: integer', 'tittle: string', 'cast: list of dict', 'crew: list of dict']
"""
    from ast import literal_eval
    features = ['cast', 'crew', 'keywords', 'genres']
    for feature in features:
        df2[feature] = df2[feature].apply(literal_eval)
    return df2
df2 = extracted_cell(df2)

* Original output:
```

```

In [ ]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [ ]:
# Define new director, cast, genres and keywords features that are in a suitable form.
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [ ]:
# Print the new features of the first 3 films
df2[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

In [ ]:
SNAPPY_end_time = time.perf_counter_ns()
print("Total elapsed time:", (SNAPPY_end_time - SNAPPY_start_time) / (10 ** 9))