In [1]:
import os
SNAPPY_notebook_path = os.path.join(os.path.abspath(""), "bench.ipynb")

In [2]:
import time
SNAPPY_start_time = time.perf_counter_ns()

In [3]:
%load_ext autotime

time: 39.8 µs (started: 2024-05-07 17:20:11 -04:00)

# Students performance in exams
#### Marks secured by the students in college

## Aim
#### To understand the influence of various factors like economic, personal and social on the students performance 

## Inferences would be : 
#### 1. How to imporve the students performance in each test ?
#### 2. What are the major factors influencing the test scores ?
#### 3. Effectiveness of test preparation course?
#### 4. Other inferences

#### Import the required libraries

In [4]:
import numpy as np
import os
# STEFANOS: Conditionally import Modin Pandas
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt

time: 453 ms (started: 2024-05-07 17:20:11 -04:00)

#### Let us initialize the required values ( we will use them later in the program )
#### we will set the minimum marks to 40 to pass in a exam

In [5]:
passmark = 40

time: 170 µs (started: 2024-05-07 17:20:11 -04:00)

#### Let us read the data from the csv file

In [6]:
df = pd.read_csv(os.path.abspath('') + "/input/StudentsPerformance.csv")

time: 2.88 ms (started: 2024-05-07 17:20:11 -04:00)

# -- STEFANOS -- Replicate Data

In [7]:
factor = 1000
df = pd.concat([df]*factor)
# df.info()

time: 29.6 ms (started: 2024-05-07 17:20:11 -04:00)

#### We will print top few rows to understand about the various data columns

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

time: 6.58 ms (started: 2024-05-07 17:20:11 -04:00)

#### Size of data frame

In [9]:
print (df.shape)

(1000000, 8)
time: 15.3 ms (started: 2024-05-07 17:20:11 -04:00)

#### Let us understand about the basic information of the data, like min, max, mean and standard deviation etc.

In [10]:
# df.describe()

time: 96 µs (started: 2024-05-07 17:20:11 -04:00)

#### Let us check for any missing values

In [11]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

time: 105 ms (started: 2024-05-07 17:20:11 -04:00)

##### As seen above, there are no missing ( null ) values in this dataframe but in real scenarios we need work on dataset with a lot of missing values

####  Let us explore the Math Score first

In [12]:
# STEFANOS: Disable plotting
# p = sns.countplot(x="math score", data = df, palette="muted")
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 133 µs (started: 2024-05-07 17:20:11 -04:00)

#### How many students passed in Math exam ?

In [13]:
df['Math_PassStatus'] = np.where(df['math score']<passmark, 'F', 'P')
df.Math_PassStatus.value_counts()

Math_PassStatus
P    960000
F     40000
Name: count, dtype: int64

time: 35.2 ms (started: 2024-05-07 17:20:11 -04:00)

In [14]:
# STEFANOS: Disable plotting
# p = sns.countplot(x='parental level of education', data = df, hue='Math_PassStatus', palette='bright')
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 144 µs (started: 2024-05-07 17:20:11 -04:00)

#### Let us explore the Reading score

In [15]:
# STEFANOS: Disable plotting
# sns.countplot(x="reading score", data = df, palette="muted")
# plt.show()

time: 121 µs (started: 2024-05-07 17:20:11 -04:00)

#### How many studends passed in reading ?

In [16]:
df['Reading_PassStatus'] = np.where(df['reading score']<passmark, 'F', 'P')
df.Reading_PassStatus.value_counts()

Reading_PassStatus
P    974000
F     26000
Name: count, dtype: int64

time: 33.7 ms (started: 2024-05-07 17:20:11 -04:00)

In [17]:
# STEFANOS: Disable plotting
# p = sns.countplot(x='parental level of education', data = df, hue='Reading_PassStatus', palette='bright')
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 163 µs (started: 2024-05-07 17:20:12 -04:00)

#### Let us explore writing score

In [18]:
# STEFANOS: Disable plotting
# p = sns.countplot(x="writing score", data = df, palette="muted")
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 454 µs (started: 2024-05-07 17:20:12 -04:00)

#### How many students passed writing ?

In [19]:
df['Writing_PassStatus'] = np.where(df['writing score']<passmark, 'F', 'P')
df.Writing_PassStatus.value_counts()

Writing_PassStatus
P    968000
F     32000
Name: count, dtype: int64

time: 33.6 ms (started: 2024-05-07 17:20:12 -04:00)

In [20]:
# STEFANOS: Disable plotting
# p = sns.countplot(x='parental level of education', data = df, hue='Writing_PassStatus', palette='bright')
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 149 µs (started: 2024-05-07 17:20:12 -04:00)

#### Iet us check "How many students passed in all the subjects ?"

In [21]:
df['OverAll_PassStatus'] = df.apply(lambda x : 'F' if x['Math_PassStatus'] == 'F' or 
                                    x['Reading_PassStatus'] == 'F' or x['Writing_PassStatus'] == 'F' else 'P', axis =1)

df.OverAll_PassStatus.value_counts()

OverAll_PassStatus
P    949000
F     51000
Name: count, dtype: int64

time: 6.64 s (started: 2024-05-07 17:20:12 -04:00)

In [22]:
# STEFANOS: Disable plotting
# p = sns.countplot(x='parental level of education', data = df, hue='OverAll_PassStatus', palette='bright')
# _ = plt.setp(p.get_xticklabels(), rotation=90)

time: 170 µs (started: 2024-05-07 17:20:18 -04:00)

#### Find the percentage of marks

In [23]:
df['Total_Marks'] = df['math score']+df['reading score']+df['writing score']
df['Percentage'] = df['Total_Marks']/3

time: 5.15 ms (started: 2024-05-07 17:20:18 -04:00)

In [24]:
# STEFANOS: Disable plotting
# p = sns.countplot(x="Percentage", data = df, palette="muted")
# _ = plt.setp(p.get_xticklabels(), rotation=0)

time: 145 µs (started: 2024-05-07 17:20:18 -04:00)

#### Let us assign the grades

### Grading 
####    above 80 = A Grade
####      70 to 80 = B Grade
####      60 to 70 = C Grade
####      50 to 60 = D Grade
####      40 to 50 = E Grade
####    below 40 = F Grade  ( means Fail )

In [25]:
def GetGrade(Percentage, OverAll_PassStatus):
    if ( OverAll_PassStatus == 'F'):
        return 'F'    
    if ( Percentage >= 80 ):
        return 'A'
    if ( Percentage >= 70):
        return 'B'
    if ( Percentage >= 60):
        return 'C'
    if ( Percentage >= 50):
        return 'D'
    if ( Percentage >= 40):
        return 'E'
    else: 
        return 'F'

df['Grade'] = df.apply(lambda x : GetGrade(x['Percentage'], x['OverAll_PassStatus']), axis=1)

df.Grade.value_counts()

Grade
B    261000
C    256000
A    198000
D    178000
E     56000
F     51000
Name: count, dtype: int64

time: 5.43 s (started: 2024-05-07 17:20:18 -04:00)

#### we will plot the grades obtained in a order

In [26]:
# STEFANOS: Disable plotting
# sns.countplot(x="Grade", data = df, order=['A','B','C','D','E','F'],  palette="muted")
# plt.show()

time: 197 µs (started: 2024-05-07 17:20:24 -04:00)

In [27]:
SNAPPY_end_time = time.perf_counter_ns()
print("Total elapsed time:", (SNAPPY_end_time - SNAPPY_start_time) / (10 ** 9))

Total elapsed time: 12.887776158
time: 1.48 ms (started: 2024-05-07 17:20:24 -04:00)