## SUCCESS here

In [1]:
import pandas as pd
import numpy as np
import collections.abc
# Koalas needs these mappings
collections.Iterable = collections.abc.Iterable
collections.Callable = collections.abc.Callable
import databricks.koalas as ks
import sys
sys.path.insert(1, "../")
import utils

# It seems you need to set this option for performance reasons.
# See: https://github.com/databricks/koalas/issues/1769 (it seems the issue is not only related to apply())
ks.set_option('compute.default_index_type', 'distributed')

pandas_df = pd.read_csv('../../datasets/yellow_tripdata_2015-01.csv')
koalas_df = ks.read_csv('../../datasets/yellow_tripdata_2015-01.csv')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/25 09:36:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/12/25 09:36:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
%%time_cell
x = koalas_df.sort_values('pickup_longitude')
print(x.head())

              VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  trip_distance  pickup_longitude  pickup_latitude  RateCodeID store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount
85899455881          2  2015-01-27 04:01:58   2015-01-27 04:11:58                2            0.0       -121.925812        37.372154           1                  N           0.000000          0.000000             2          1.9    0.0      0.0         0.0           0.0                    0.0           1.9
94489304946          2  2015-01-27 05:00:26   2015-01-27 05:03:26                2            0.0       -121.925812        37.372154           1                  N           0.000000          0.000000             2          1.8    0.0      0.5         0.0           0.0                    0.3           2.6
541165893216         1  2015-01-16 11:05:51   2015-01-16 11:30:22                1            4.1       -119.314651        59.504623           1                  N         -74.009033         40.711014             2         17.5    0.0      0.5         0.0           0.0                    0.3          18.3
206158500093         1  2015-01-09 19:53:01   2015-01-09 20:05:54                1            2.5       -108.165337        42.396538           1                  N         -73.993912         40.770569             2         12.0    1.0      0.5         0.0           0.0                    0.3          13.8
386547156876         1  2015-01-08 08:19:21   2015-01-08 08:31:31                3            1.5       -105.759560        56.952297           1                  N         -73.981636         40.747051             2          9.0    0.0      0.5         0.0           0.0                    0.3           9.8

/home/ubuntu/pandas-alt-exps/koalas/koalas_env/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/home/ubuntu/pandas-alt-exps/koalas/koalas_env/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [3]:
koalas_time = _TIMED_CELL
print(f"Koalas time: {koalas_time:.1f}s")

Koalas time: 3.0s

In [4]:
%%time_cell
y = pandas_df.sort_values('pickup_longitude')
print(y.head())

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
1488441         2  2015-01-27 05:00:26   2015-01-27 05:03:26                2
1440874         2  2015-01-27 04:01:58   2015-01-27 04:11:58                2
8398001         1  2015-01-16 11:05:51   2015-01-16 11:30:22                1
3263783         1  2015-01-09 19:53:01   2015-01-09 20:05:54                1
6088791         1  2015-01-08 08:19:21   2015-01-08 08:31:31                3

         trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
1488441            0.0       -121.925812        37.372154           1
1440874            0.0       -121.925812        37.372154           1
8398001            4.1       -119.314651        59.504623           1
3263783            2.5       -108.165337        42.396538           1
6088791            1.5       -105.759560        56.952297           1

        store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
1488441                  N           0.000000          0.000000             2
1440874                  N           0.000000          0.000000             2
8398001                  N         -74.009033         40.711014             2
3263783                  N         -73.993912         40.770569             2
6088791                  N         -73.981636         40.747051             2

         fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
1488441          1.8    0.0      0.5         0.0           0.0
1440874          1.9    0.0      0.0         0.0           0.0
8398001         17.5    0.0      0.5         0.0           0.0
3263783         12.0    1.0      0.5         0.0           0.0
6088791          9.0    0.0      0.5         0.0           0.0

         improvement_surcharge  total_amount
1488441                    0.3           2.6
1440874                    0.0           1.9
8398001                    0.3          18.3
3263783                    0.3          13.8
6088791                    0.3           9.8

In [5]:
pandas_time = _TIMED_CELL
print(f"Pandas time: {pandas_time:.1f}s")

Pandas time: 11.6s

In [6]:
speedup = pandas_time / koalas_time
utils.print_md(f"### Koalas is {speedup:.1f}x faster.")

### Koalas is 3.8x faster.