# <div style="text-align: center; background-color: #39c5ff;font-size:200%; font-family:Rubik; color: #ffffff; padding: 20px; line-height: 1;border-radius:10px; border: 5px solid #3f484b;"><b>Kaggle <br> Survey 2022</b></div>

<a id="top"></a>
<div class="list-group" id="list-tab" role="tablist">
    <h3 style="text-align: left; background-color: #3f484b; font-family:Rubik; color: #F5F5F1; padding: 14px; line-height: 1; border-radius:10px">Table of Contents</h3>
    
   * [1. Imports](#1)
   * [2. Data Cleaning](#2)
   * [3. Exploratory Data Analysis](#3)
    - [3.1. Univariate Analysis](#3.1)
        - [3.1.1. Gender Countplot](#3.1.1)
        - [3.1.2. Duration Histogram](#3.1.2)
        - [3.1.3. Age Countplot](#3.1.3)
        - [3.1.4. Top 10 Countries Count](#3.1.4)
        - [3.1.5. World Map](#3.1.5)
        - [3.1.6. Student Donut Chart](#3.1.6)
        - [3.1.7. Educational Background Donut Chart](#3.1.7)
        - [3.1.8. ML Experience Donut Chart](#3.1.8)
        - [3.1.9. Yearly Compensation Donut Chart](#3.1.9)
    - [3.2. Multivariate Analysis](#3.2)
        - [3.2.1. Duration X Gender Histplot](#3.2.1)
        - [3.2.2. Country X Gender Treemap](#3.2.2)
        - [3.2.3. Duration with Age](#3.2.3)
        - [3.2.4. Education X Gender Treemap](#3.2.4)
        - [3.2.5. Country X Age Density Plot](#3.2.5)
        - [3.2.6. Gender X Student Sunburst](#3.2.6)
   * [4. Work In Progress](#4)

<a id="1"></a>
# <div style="font-size:40px; text-align: center; background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 14px; line-height: 1;border-radius:20px; border: 4px solid #3f484b;"><b> 1. Imports </b></div>

In [5]:
import os
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go

colors = ['gold', 'mediumturquoise', 'darkorange', 'lightgreen']
kaggle_colors = ['#39c5ff', '#ffffff', '#f2f2f2', '#9ca3a4', '#3f484b']
font = 'Rubik'

In [6]:
df = pd.read_csv('../input/kaggle-survey-2022/kaggle_survey_2022_responses.csv')

/var/folders/9f/h2dr6r6j21xby0_p48_973200000gn/T/ipykernel_85901/699594189.py:1: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../input/kaggle-survey-2022/kaggle_survey_2022_responses.csv')

In [7]:
df = df
intended_df_size_in_MB = 256
factor = intended_df_size_in_MB*(2**20)/df.memory_usage(index=True).sum()
if int(factor) > 0:
    df = pd.concat([df]*int(factor), ignore_index=True)
else:
    rowCount = int(df.shape[0]*factor)
    df = df[0:rowCount]
df = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95992 entries, 0 to 95991
Columns: 296 entries, Duration (in seconds) to Q44_12
dtypes: object(296)
memory usage: 216.8+ MB

In [8]:
df

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95987,331,22-24,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
95988,330,60-69,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
95989,860,25-29,Man,Turkey,No,NaN,NaN,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
95990,597,35-39,Woman,Israel,No,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
95991,303,18-21,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other

<a id="2"></a>
# <div style="font-size:40px; text-align: center; background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 14px; line-height: 1;border-radius:20px; border: 4px solid #3f484b;"><b> 2. Data Cleaning </b></div>

In [8]:
df = df[1:]

# -- STEFANOS -- Replicate Data

In [9]:
df['Duration (in seconds)'] = df['Duration (in seconds)'].astype('int')

ValueError: invalid literal for int() with base 10: 'Duration (in seconds)'

In [7]:
df.loc[df["Q3"] == "Nonbinary", "Q3"] = "Others"
df.loc[df["Q3"] == "Prefer not to say", "Q3"] = "Others"
df.loc[df["Q3"] == "Prefer to self-describe", "Q3"] = "Others"

<a id="3"></a>
# <div style="font-size:40px; text-align: center; background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 14px; line-height: 1;border-radius:20px; border: 4px solid #3f484b;"><b> 3. Exploratory Data Analysis </b></div>

<a id="3.1"></a>
<h3 style="font-size:25px; text-align: left;background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 16px; line-height: 1; border-radius:10px; border: 3px solid #3f484b;"> 3.1 Univariate Analysis</h3>

<a id="3.1.1"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"><i> 3.1.1 Gender Countplot </i></span>

In [8]:
gender_count = df.groupby(['Q3']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig=px.bar(data_frame=gender_count, x='Q3', y='count',color='Q3',template='plotly_dark',color_discrete_sequence=['#39c5ff','#F5F5F1'],
#                  text_auto=True,barmode='stack',
#           title="Gender Countplot")

# fig.update_traces(textfont_size=20, textangle=0, textposition="outside", cliponaxis=False)
# fig.update_traces( marker_line_color='#3f484b',
#                   marker_line_width=3.5)

# fig.update_layout(
#     title="Gender Countplot",
#     xaxis_title="Genders",
#     yaxis_title="Count",
#     legend_title="Genders",
#     font=dict(
#         family="Rubik",
#         size=18
#     )
# )

# fig.show()

<a id="3.1.2"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.2 Duration Histogram</i></span>

In [9]:
duration_count = df.groupby(['Duration (in seconds)']).size().reset_index().rename(columns={0: 'count'})
duration_count = duration_count[:1000]

# STEFANOS: Disable plotting
# fig=px.histogram(data_frame=duration_count, x='Duration (in seconds)', y='count',template='plotly_dark',color_discrete_sequence=['#39c5ff','#F5F5F1'],
#                  text_auto=True,barmode='stack',
#           title="Duration Histogram")

# fig.update_traces(textfont_size=20, textangle=0, textposition="outside", cliponaxis=False)
# fig.update_traces( marker_line_color='#3f484b',
#                   marker_line_width=3.5)

# fig.update_layout(
#     title="Duration Histogram",
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.1.3"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.3 Age Countplot</i></span>

In [10]:
age_count = df.groupby(['Q2']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig=px.bar(data_frame=age_count, x='Q2', y='count',color='Q2',template='plotly_dark',color_discrete_sequence=['#39c5ff','#F5F5F1'],
#                  text_auto=True,barmode='stack',
#           title="Age Countplot")

# fig.update_traces(textfont_size=20, textangle=0, textposition="outside", cliponaxis=False)
# fig.update_traces( marker_line_color='#3f484b',
#                   marker_line_width=3.5)

# fig.update_layout(
#     title="Age Countplot",
#     xaxis_title="Age Groups",
#     yaxis_title="Count",
#     legend_title="Age Groups",
#     font=dict(
#         family="Rubik",
#         size=12
#     )
# )

# fig.show()

<a id="3.1.4"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.4 Top 10 Countries Count</i></span>

In [11]:
country_count = df.groupby(['Q4']).size().reset_index().rename(columns={0: 'count'})
country_count = country_count.sort_values(by=['count'], ascending=False).reset_index(drop=True)
country_count = country_count[:10]

# STEFANOS: Disable plotting
# fig=px.bar(data_frame=country_count,x='Q4', y='count',color='Q4',template='plotly_dark',color_discrete_sequence=['#39c5ff','#F5F5F1'],
#                  text_auto=True,barmode='stack',
#           title="Country Countplot")

# fig.update_traces(textfont_size=20, textangle=0, textposition="outside", cliponaxis=False)
# fig.update_traces( marker_line_color='#3f484b',
#                   marker_line_width=3.5)

# fig.update_layout(
#     title="Top 10 Countries Plot",
#     xaxis_title="Countries",
#     yaxis_title="Count",
#     legend_title="Countries",
#     font=dict(
#         family="Rubik",
#         size=13
#     )
# )

# fig.show()

<a id="3.1.5"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.5 World Map</i></span>

In [12]:
country_df = df.groupby(['Q4']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = px.choropleth(country_df, locations="Q4", color="count", 
#                     locationmode='country names',
#                     range_color=[0,5000],
#                     color_continuous_scale=[(0, "#ffffff"), (1, '#39c5ff')],
#                     template='plotly_dark'
#                    )

# fig.update_layout(
#     title="World Map",
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.1.6"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.6 Student Donut Chart</i></span>

In [13]:
student_count = df.groupby(['Q5']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = go.Figure(
#     data=[go.Pie(labels=student_count['Q5'], values=student_count['count'], hole=.4)])

# fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
#                   marker=dict(colors=colors, line=dict(color='#000000', width=2)))

# fig.update_layout(
#     title="Student Count",
#     template='plotly_dark',
#     font=dict(
#         family="Rubik",
#         size=18
#     )
# )

# fig.show()

<a id="3.1.7"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.7 Educational Background Donut Chart</i></span>

In [14]:
degree_count = df.groupby(['Q8']).size().reset_index().rename(columns={0: 'count'})
degree_count.loc[degree_count["Q8"] == "Some college/university study without earning a bachelor’s degree", "Q8"] = "College Without Bachelors"

# STEFANOS: Disable plotting
# fig = go.Figure(
#     data=[go.Pie(labels=degree_count['Q8'], values=degree_count['count'], hole=.4)])

# fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
#                   marker=dict(colors=colors, line=dict(color='#000000', width=2)))

# # fig.update_layout(template='plotly_dark')

# fig.update_layout(
#     title="Educational Background",
#     template='plotly_dark',
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.1.8"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.8 ML Experience Donut Chart</i></span>

In [15]:
experience_count = df.groupby(['Q16']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = go.Figure(
#     data=[go.Pie(labels=experience_count['Q16'], values=experience_count['count'], hole=.4)])

# fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
#                   marker=dict(colors=colors, line=dict(color='#000000', width=2)))

# # fig.update_layout(template='plotly_dark')

# fig.update_layout(
#     title="ML Experience",
#     template='plotly_dark',
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.1.9"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.1.9 Yearly Compensation Donut Chart</i></span>

In [16]:
annual_income_df = df.groupby(['Q29']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = go.Figure(
#     data=[go.Pie(labels=annual_income_df['Q29'], values=annual_income_df['count'], hole=.4)])

# fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
#                   marker=dict(colors=colors, line=dict(color='#000000', width=2)))

# # fig.update_layout(template='plotly_dark')

# fig.update_layout(
#     title="Yearly Compensation in USD",
#     template='plotly_dark',
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.2"></a>
<h3 style="font-size:25px; text-align: left;background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 16px; line-height: 1; border-radius:10px; border: 3px solid #3f484b;"> 3.2 Multivariate Analysis</h3>

<a id="3.2.1"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.1 Duration X Gender Histplot</i></span>

In [17]:
gender_duration_count = df.groupby(['Duration (in seconds)', 'Q3']).size().reset_index().rename(columns={0: 'count'})
gender_duration_count = gender_duration_count[:3000]

# STEFANOS: Disable plotting
# hist_colors = ['#39c5ff', '#ffffff', 'orange']

# fig = px.histogram(gender_duration_count, x="Duration (in seconds)", y="count", color='Q3',
#                    marginal="box", color_discrete_sequence=hist_colors,
#                    hover_data=gender_duration_count.columns,
#                   template='plotly_dark')

# fig.update_layout(
#     title="Duration X Gender",
#     xaxis_title="Duration (in seconds)",
#     yaxis_title="Count",
#     legend_title="Gender",
#     font=dict(
#         family="Rubik",
#         size=16
#     )
# )

# fig.show()

<a id="3.2.2"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.2 Country X Gender TreeMap</i></span>

In [18]:
country_gender = df.groupby(['Q4', 'Q3']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = px.treemap(country_gender, values='count', path=['Q4', 'Q3'], template='plotly_dark',
#                 title="Country X Gender TreeMap")
# fig.update_traces(textinfo="label+percent parent")

# fig.show()

<a id="3.2.3"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.3 Duration with Age</i></span>

In [19]:
age_duration_df = df[df['Duration (in seconds)']<2000].groupby('Q2')['Duration (in seconds)'].mean().round(1).reset_index()

# STEFANOS: Disable plotting
# fig=px.bar(data_frame=age_duration_df, x='Q2', y='Duration (in seconds)',
#            color='Q2',template='plotly_dark',color_discrete_sequence=['#39c5ff','#F5F5F1'],
#                  text_auto=True,barmode='stack',
#           title="Age Countplot")

# fig.update_traces(textfont_size=20, textangle=0, textposition="outside", cliponaxis=False)
# fig.update_traces( marker_line_color='#3f484b',
#                   marker_line_width=3.5)

# fig.update_layout(
#     title="Duration with Age",
#     xaxis_title="Age Groups",
#     yaxis_title="Duration (in seconds)",
#     legend_title="Age Groups",
#     font=dict(
#         family="Rubik",
#         size=12
#     )
# )

# fig.show()

<a id="3.2.4"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.4 Education X Gender TreeMap</i></span>

In [20]:
education_gender = df.groupby(['Q8', 'Q3']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = px.treemap(education_gender, values='count', path=['Q8', 'Q3'], template='plotly_dark',
#                 title="Education X Gender TreeMap")
# fig.update_traces(textinfo="label+percent parent")

# fig.show()

<a id="3.2.5"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.5 Countries X Age Density Plot</i></span>

In [21]:
## Not Including India bcz it acts as an outlier here
top_9_countries = ['United States of America','Other', 'Brazil',
                   'Nigeria', 'Pakistan', 'Japan', 'China', 'Egypt', 'Mexico']

top_9_countries_df = df[df['Q4'].isin(top_9_countries)]
# STEFANOS: Disable plotting
# fig = px.density_heatmap(
#     top_9_countries_df, x='Q4', y='Q2',
#     marginal_x='histogram', marginal_y='histogram', histfunc='count'
# )

# fig.update_yaxes(categoryorder='array', categoryarray= ['18-21','22-24','25-29','30-34', '35-39',
#                                                         '40-44', '45-49', '50-54', '55-59', '60-69', '70+'])

# fig.update_layout(
#     title="Countires X Age Groups Density Plot",
#     xaxis_title="Countries",
#     yaxis_title="Age Groups",
#     font=dict(
#         family="Rubik",
#         size=14
#     )
# )

# fig.show()

<a id="3.2.6"></a>
<span style="font-size:20px; color:#39c5ff; font-family:Rubik;"> <i>3.2.6 Gender X Student Sunburst</i></span>

In [22]:
gender_student = df.groupby(['Q3', 'Q5']).size().reset_index().rename(columns={0: 'count'})

# STEFANOS: Disable plotting
# fig = px.sunburst(gender_student, values='count', path=['Q3', 'Q5'], template='plotly_dark',
#                 title="Gender X Student Sunburst")
# fig.update_traces(textinfo="label+percent parent")

# fig.show()

<a id="4"></a>
# <div style="font-size:40px; text-align: center; background-color: #39c5ff; font-family:Rubik; color: #ffffff; padding: 14px; line-height: 1;border-radius:20px; border: 4px solid #3f484b;"><b> Work In Progress </b></div>