In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import os
# STEFANOS: Conditionally import Modin Pandas
if "IREWR_WITH_MODIN" in os.environ and os.environ["IREWR_WITH_MODIN"] == "True":
    # STEFANOS: Import Modin Pandas
    import os
    os.environ["MODIN_ENGINE"] = "ray"
    import ray
    ray.init(num_cpus=int(os.environ['MODIN_CPUS']), runtime_env={'env_vars': {'__MODIN_AUTOIMPORT_PANDAS__': '1'}})
    import modin.pandas as pd
else:
    # STEFANOS: Import regular Pandas
    import pandas as pd
# import seaborn as sns  # data visualization
# import matplotlib.pyplot as plt


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

../input/animal-crossing-new-horizons-nookplaza-dataset/villagers.csv
../input/acnh-villager-popularity/acnh_villager_data.csv

# Introduction
The goal of this project is to analyse the relationship between animal crossing new horizon villager popularity amongst the player base and certain villager attributes. 

We will be analysing the Gender,Personality, Species, and Style of a villager.

# Data Initilization and Cleaning

In [2]:
vlgr_df = pd.read_csv("../input/animal-crossing-new-horizons-nookplaza-dataset/villagers.csv")
popul_df = pd.read_csv("../input/acnh-villager-popularity/acnh_villager_data.csv")

# -- STEFANOS -- Replicate Data

In [3]:
factor = 400
if "IREWR_LESS_REPLICATION" in os.environ and os.environ["IREWR_LESS_REPLICATION"] == "True":
    factor = factor//3
popul_df = pd.concat([popul_df]*factor, ignore_index=True)
vlgr_df = pd.concat([vlgr_df]*factor, ignore_index=True)
print(popul_df.info())
vlgr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165200 entries, 0 to 165199
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   tier    165200 non-null  int64
 1   rank    165200 non-null  int64
 2   name    165200 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156400 entries, 0 to 156399
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Name             156400 non-null  object
 1   Species          156400 non-null  object
 2   Gender           156400 non-null  object
 3   Personality      156400 non-null  object
 4   Hobby            156400 non-null  object
 5   Birthday         156400 non-null  object
 6   Catchphrase      156400 non-null  object
 7   Favorite Song    156400 non-null  object
 8   Style 1          156400 non-null  object
 9   Style 2          156400 non-null  object
 10  Color 1          156400 non-null  object
 11  Color 2          156400 non-null  object
 12  Wallpaper        156400 non-null  object
 13  Flooring         156400 non-null  object
 14  Furniture List   156400 non-null  object
 15  Filename         156400 non-null  object
 16  Unique Entry ID  156400 non-null  object
dtypes: object(17)
memory usage: 20.3+ MB

In [4]:
vlgr_df.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

In [5]:
popul_df.head()

   tier  rank     name
0     1     1  Raymond
1     1     2  Marshal
2     1     3    Shino
3     1     4    Sherb
4     1     5    Sasha

### 1. Checking for null

In [6]:
vlgr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156400 entries, 0 to 156399
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Name             156400 non-null  object
 1   Species          156400 non-null  object
 2   Gender           156400 non-null  object
 3   Personality      156400 non-null  object
 4   Hobby            156400 non-null  object
 5   Birthday         156400 non-null  object
 6   Catchphrase      156400 non-null  object
 7   Favorite Song    156400 non-null  object
 8   Style 1          156400 non-null  object
 9   Style 2          156400 non-null  object
 10  Color 1          156400 non-null  object
 11  Color 2          156400 non-null  object
 12  Wallpaper        156400 non-null  object
 13  Flooring         156400 non-null  object
 14  Furniture List   156400 non-null  object
 15  Filename         156400 non-null  object
 16  Unique Entry ID  156400 non-null  object
dtypes: object(17)
memory usage: 20.3+ MB

In [7]:
popul_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165200 entries, 0 to 165199
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   tier    165200 non-null  int64
 1   rank    165200 non-null  int64
 2   name    165200 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.8+ MB

### 2. Checking for mismatched names

In [8]:
# There are some missing/non-matching names 
vlgr_df["Name"].isin(popul_df['name']).sum()

154400

In [9]:
# vlgr_df does not have these names...
mismatch_names = popul_df["name"][popul_df["name"].isin(vlgr_df["Name"]) == False]
mismatch_names

2                  Shino
4                  Sasha
5                   Ione
25            Cephalobot
57                Étoile
               ...
165087    Crackle(Spork)
165110               Ace
165115              Toby
165128             Frett
165186             Rilla
Name: name, Length: 10800, dtype: object

In [10]:
# %%time
# Data set is small enough to pick out the same names
# Correcting names in popul_df to match vlgr_df
popul_df['name'] = popul_df['name'].replace(['OHare'],"O\'Hare")
popul_df['name'] = popul_df['name'].replace(['Buck(Brows)'],"Buck")
popul_df['name'] = popul_df['name'].replace(['Renee'],"Renée")
popul_df['name'] = popul_df['name'].replace(['WartJr'],"Wart Jr.")
popul_df['name'] = popul_df['name'].replace(['Crackle(Spork)'],"Spork")

In [4]:
# Checking if All names match
vlgr_df["Name"].isin(popul_df['name']).sum()

154400

In [5]:
# drop villagers that are in popul_df but not in vlgr_df
popul_df = popul_df.drop(popul_df[popul_df["name"].isin(vlgr_df["Name"]) == False].index)

### 3. Merging the two Dataframes

In [6]:
# Now that both df have same length, we can set index as names and combine the 2 dfs
popul_df.set_index('name', drop=True, inplace=True)
vlgr_df.set_index('Name', drop=True, inplace=True)

In [7]:
combined_df = popul_df.merge(vlgr_df, left_index=True, right_index=True)

In [8]:
# drop irrelevent columns
combined_df.drop(columns=['Furniture List', 'Filename', 'Unique Entry ID', "Wallpaper", "Flooring", "Birthday", "Favorite Song"], inplace=True)

#### Adding a new row named overall_ranking so we may know a villager's general ranking outside of their tier

In [9]:
combined_df.sort_values(['tier', 'rank'], inplace=True)
combined_df['overall_ranking'] = np.arange(1, len(combined_df)+1)
combined_df.insert(2, 'overall_ranking', combined_df.pop('overall_ranking'))

#### Setting Baseline overall ranking mean to compare against

In [10]:
overall_mean = combined_df.overall_ranking.mean()
print(f'The overall_mean is {overall_mean}, this would serve as a baseline for to compare against popularity performance of our features.')

The overall_mean is 30880000.5, this would serve as a baseline for to compare against popularity performance of our features.

In [18]:
combined_df.columns

Index(['tier', 'rank', 'overall_ranking', 'Species', 'Gender', 'Personality',
       'Hobby', 'Catchphrase', 'Style 1', 'Style 2', 'Color 1', 'Color 2'],
      dtype='object')

# Exploratory Data Analysis
As a preface, a higher overall_ranking would mean performing worse on the popularity rankings.
### 1. Gender

In [11]:
combined_df['Gender'].value_counts()

Gender
Male      32000000
Female    29760000
Name: count, dtype: int64

In [12]:
## -- STEFANOS: Disable plotting
# combined_df.groupby('tier').Gender.value_counts().plot.barh()
## -- STEFANOS-DISABLE-FOR-MODIN: Actually, it seems we can't even run the last part with Modin, so
## we only leave the groupby.
# combined_df.groupby('tier').Gender.value_counts()
combined_df.groupby('tier')

For gender, there seems to be a disproporationate amount of male villagers in the lowest tier(6th tier) than female villagers, compared to other tiers. Discounting Tier 6, The number of male and female villagers are fairly even, with Male villagers having a slight lead in all tiers(except tier 6).

In [21]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(5, 5))
# plt.axhline(overall_mean, color='r')
# sns.boxplot(x="Gender", y='overall_ranking', data=combined_df)

Female villagers generally perform better than Male villagers in terms of overall ranking.

In [22]:
pd.pivot_table(combined_df, index = 'tier', values = 'Catchphrase', columns="Gender", aggfunc='count')

Gender   Female      Male
tier
1        960000    960000
2       2240000   1600000
3       2880000   1760000
4       4800000   4000000
5       9280000   8800000
6       9760000  15520000

### 2. Species

In [14]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61760000 entries, Raymond to Velma
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   tier             int64
 1   rank             int64
 2   overall_ranking  int64
 3   Species          object
 4   Gender           object
 5   Personality      object
 6   Hobby            object
 7   Catchphrase      object
 8   Style 1          object
 9   Style 2          object
 10  Color 1          object
 11  Color 2          object
dtypes: int64(3), object(9)
memory usage: 6.0+ GB

In [18]:
combined_df.groupby('Species').mean(numeric_only=True)

               tier       rank  overall_ranking
Species
Alligator  5.285714  55.428571     3.500571e+07
Anteater   5.571429  51.000000     3.692571e+07
Bear       5.400000  67.200000     3.807467e+07
Bird       5.769231  73.538462     4.373539e+07
Bull       5.666667  75.000000     4.213333e+07
Cat        3.434783  28.826087     1.495304e+07
Chicken    5.555556  74.888889     4.024000e+07
Cow        5.250000  59.500000     3.260000e+07
Cub        4.062500  38.437500     2.264000e+07
Deer       2.800000  19.200000     8.288000e+06
Dog        4.187500  43.187500     2.212000e+07
Duck       5.000000  61.823529     3.423529e+07
Eagle      5.222222  75.888889     3.839111e+07
Elephant   5.090909  53.454545     3.240000e+07
Frog       5.058824  49.764706     3.152471e+07
Goat       4.125000  51.750000     2.566000e+07
Gorilla    5.888889  91.444444     4.861333e+07
Hamster    4.375000  39.000000     2.332000e+07
Hippo      5.714286  87.857143     4.510857e+07
Horse      5.142857  69.142857     3.685714e+07
Kangaroo   5.625000  91.875000     4.388000e+07
Koala      4.444444  44.555556     2.132444e+07
Lion       5.571429  43.714286     3.710857e+07
Monkey     5.250000  61.375000     3.390000e+07
Mouse      5.600000  99.466667     4.528533e+07
Octopus    1.666667   7.333333     2.693334e+06
Ostrich    4.800000  57.800000     2.969600e+07
Penguin    4.769231  60.000000     2.954462e+07
Pig        5.785714  97.785714     4.840000e+07
Rabbit     4.578947  45.368421     2.488000e+07
Rhino      4.200000  39.600000     2.286400e+07
Sheep      4.846154  59.000000     3.152615e+07
Squirrel   4.388889  39.611111     2.351111e+07
Tiger      5.142857  68.000000     3.432000e+07
Wolf       3.454545  18.909091     1.154182e+07

In [20]:
# creating value counts dataframe for each species type
species_ranking = combined_df.groupby('Species').mean(numeric_only=True)['overall_ranking'].to_frame().reset_index().sort_values('overall_ranking')
species_ranking

      Species  overall_ranking
25    Octopus     2.693334e+06
9        Deer     8.288000e+06
34       Wolf     1.154182e+07
5         Cat     1.495304e+07
21      Koala     2.132444e+07
10        Dog     2.212000e+07
8         Cub     2.264000e+07
30      Rhino     2.286400e+07
17    Hamster     2.332000e+07
32   Squirrel     2.351111e+07
29     Rabbit     2.488000e+07
15       Goat     2.566000e+07
27    Penguin     2.954462e+07
26    Ostrich     2.969600e+07
14       Frog     3.152471e+07
31      Sheep     3.152615e+07
13   Elephant     3.240000e+07
7         Cow     3.260000e+07
23     Monkey     3.390000e+07
11       Duck     3.423529e+07
33      Tiger     3.432000e+07
0   Alligator     3.500571e+07
19      Horse     3.685714e+07
1    Anteater     3.692571e+07
22       Lion     3.710857e+07
2        Bear     3.807467e+07
12      Eagle     3.839111e+07
6     Chicken     4.024000e+07
4        Bull     4.213333e+07
3        Bird     4.373539e+07
20   Kangaroo     4.388000e+07
18      Hippo     4.510857e+07
24      Mouse     4.528533e+07
28        Pig     4.840000e+07
16    Gorilla     4.861333e+07

In [24]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(30,5))
# sns.set(font_scale=1.4)
# plt.xticks(rotation=45)
# plt.axhline(overall_mean, color='r')
# sns.scatterplot(x='Species', y="overall_ranking", data=species_ranking,label='mean overall-ranking', s=300)

Octopus, deer, wolves, cats and Koalas are most likely to be popular; while Kangaroos, Hippos, Mouse Pigs and Gorillas are the least likely to be popular.

In [25]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(30, 10))
# plt.axhline(overall_mean, color='r')
# sns.scatterplot(x="Species", y='overall_ranking', hue='tier', s=100, data=combined_df)

Although Octopuses seem to be ranking highly in part due to the low amount of Octopuses amongst the villagers. 
Interesting trend can be observed, there exists a ranking cap for low ranking speices, for example, none of the Gorilla villagers have a ranking lower than 200, it is heavily skewed, and not normally distributed.  Indicating a clear non-preference for certain species by the playerbase.

### 3. Personality

In [26]:
combined_df.Personality.value_counts()

Personality
Lazy          9600000
Normal        9440000
Snooty        8800000
Jock          8800000
Cranky        8800000
Peppy         7840000
Smug          5440000
Big Sister    3840000
Name: count, dtype: int64

In [22]:
# creating value counts dataframe for each personality type
personality_ranking = combined_df.groupby('Personality').mean(numeric_only=True)['overall_ranking'].to_frame().reset_index().sort_values('overall_ranking')

In [23]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(20,5))
# sns.set(font_scale=1.4)
# plt.xticks(rotation=45)
# plt.axhline(overall_mean, color='r')
# sns.scatterplot(x='Personality', y="overall_ranking", data=personality_ranking,label='mean personality ranking', s=300)

The playerbase seems to have a preference for Big sister, Normal, Peppy and sometimes Lazy type villagers.
While they dislike Cranky, Jock and Snooty villagers.

In [24]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(10, 10))
# plt.axhline(overall_mean, color='r')
# sns.boxplot(x="Personality", y='overall_ranking', data=combined_df)

There seems to be a clear preference for Big Sister, Peppy and Normal Personality villagers, they have means below overall mean. Rankings are fairly normally distributed except for Smug villagers. On the other hand, Cranky and Snooty both have a mean clearly above the overall mean.

In [25]:
pd.pivot_table(combined_df, index = 'tier', values = 'Catchphrase', columns="Personality", aggfunc='count')

Personality,Big Sister,Cranky,Jock,Lazy,Normal,Peppy,Smug,Snooty
tier,,,,,,,,
1,NaN,NaN,NaN,640000.0,640000.0,NaN,320000.0,320000.0
2,160000.0,320000.0,320000.0,640000.0,960000.0,960000.0,320000.0,160000.0
3,800000.0,640000.0,480000.0,320000.0,1280000.0,640000.0,320000.0,160000.0
4,960000.0,800000.0,800000.0,1440000.0,1280000.0,1600000.0,960000.0,960000.0
5,1120000.0,1920000.0,2720000.0,3040000.0,3040000.0,2560000.0,800000.0,2400000.0
6,640000.0,4960000.0,4320000.0,3360000.0,2240000.0,2080000.0,2560000.0,4800000.0

### 4. Style

In [ ]:
# generating value counts dataframe for each style type
style_ranking1 = combined_df.groupby('Style 1').mean(numeric_only=True)['overall_ranking'].to_frame().reset_index().sort_values('overall_ranking')
style_ranking2 = combined_df.groupby('Style 2').mean(numeric_only=True)['overall_ranking'].to_frame().reset_index().sort_values('overall_ranking')

In [ ]:
# combining the 2 style columns and finding a mean
style_ranking = style_ranking1.copy()
style_series = (style_ranking1['overall_ranking'] + style_ranking2['overall_ranking'])/2
style_ranking["overall_ranking"] = style_series

In [ ]:
style_ranking

In [ ]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(20,5))
# sns.set(font_scale=1.4)
# plt.xticks(rotation=45)
# plt.axhline(overall_mean, color='r')
# sns.scatterplot(x='Style 1', y="overall_ranking", data=style_ranking, s=300)

A very clear preference for Cute styled villagers. Simple Styled Villagers have a ranking mean just about equal to the overall mean, while other style villagers have a slightly above overall mean mean.

In [ ]:
## -- STEFANOS: Disable plotting
# plt.figure(figsize=(7, 7))
# plt.axhline(overall_mean, color='r')
# sns.boxplot(x="Style 1", y='overall_ranking', data=combined_df)
# plt.title('Style 1')
# plt.figure(figsize=(7, 7))
# plt.axhline(overall_mean, color='r')
# sns.boxplot(x="Style 2", y='overall_ranking', data=combined_df)
# plt.title('Style 2')

The clear preference is Cute style dressing, in both Style columns. In particular, in Style 2 column Cute Styled Villagers have a higher concetration in lower rankings. Other styles seem to have a fairly normally distributed ranking, with the exception of Active Style Villagers in Style 1, right skewed, but the ranking mean is significantly above the overall ranking mean.

In [ ]:
pd.pivot_table(combined_df, index = 'tier', values = 'Catchphrase', columns="Style 1", aggfunc='count')

In [ ]:
pd.pivot_table(combined_df, index = 'tier', values = 'Catchphrase', columns="Style 2", aggfunc='count')

# Conclusion
We may come to the conclusion, that the following attributes contribute to a villager's popularity:
- Gender: Despite Female Villagers having in general better popularity, this is likely due to the overwheling prescence of male villagers in the lowest tier. Other than the lowest tier, Male villagers in general perform slightly better.
- Species: Octopus, Wolf, Deer and Cat villagers perform the best. 
- Personality: Big Sister, Normal and Peppy villagers are in general the most popular. 
- Style: Cute Style villagers are very clearly the most popular