In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../input'):
    for filename in filenames:
        file_  = os.path.join(dirname, filename)

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
df = pd.read_csv(file_)

df.head(5)

,country_name,continent_name,wage_span,median_salary,average_salary,lowest_salary,highest_salary
0,Afghanistan,Asia,Monthly,853.74,1001.15,252.53,4460.97
1,Aland Islands,Europe,Monthly,3319.24,3858.35,972.52,17124.74
2,Albania,Europe,Monthly,832.84,956.92,241.22,4258.49
3,Algeria,Africa,Monthly,1148.84,1308.81,330.11,5824.18
4,American Samoa,Oceania,Monthly,1390.00,1570.00,400.00,6980.00

In [3]:
df = df
intended_df_size_in_MB = 256
factor = intended_df_size_in_MB*(2**20)/df.memory_usage(index=True).sum()
if int(factor) > 0:
    df = pd.concat([df]*int(factor), ignore_index=True)
else:
    rowCount = int(df.shape[0]*factor)
    df = df[0:rowCount]
df = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4744207 entries, 0 to 4744206
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   country_name    object
 1   continent_name  object
 2   wage_span       object
 3   median_salary   float64
 4   average_salary  float64
 5   lowest_salary   float64
 6   highest_salary  float64
dtypes: float64(4), object(3)
memory usage: 253.4+ MB

In [8]:
df.duplicated().sum()

4743986

In [5]:
df.isnull().sum()

country_name      0
continent_name    0
wage_span         0
median_salary     0
average_salary    0
lowest_salary     0
highest_salary    0
dtype: int64

In [6]:
df.describe(include = 'all')

,country_name,continent_name,wage_span,median_salary,average_salary,lowest_salary,highest_salary
count,4744207,4744207,4744207,4.744207e+06,4.744207e+06,4.744207e+06,4.744207e+06
unique,221,9,1,NaN,NaN,NaN,NaN
top,Zimbabwe,Africa,Monthly,NaN,NaN,NaN,NaN
freq,21467,1223619,4744207,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.762632e+03,1.982340e+03,5.027832e+02,8.802166e+03
std,NaN,NaN,NaN,1.631006e+03,1.831272e+03,4.690087e+02,8.121774e+03
min,NaN,NaN,NaN,2.613350e-01,2.855239e-01,7.209242e-02,1.271103e+00
25%,NaN,NaN,NaN,5.672100e+02,6.510000e+02,1.639300e+02,2.900480e+03
50%,NaN,NaN,NaN,1.227460e+03,1.344230e+03,3.394500e+02,5.974360e+03
75%,NaN,NaN,NaN,2.389010e+03,2.740000e+03,6.900000e+02,1.205074e+04
max,NaN,NaN,NaN,9.836070e+03,1.129290e+04,2.850270e+03,5.036393e+04

In [7]:
df = df.drop(['wage_span'] , axis = 1)

In [8]:
df.sort_values('continent_name')

,country_name,continent_name,median_salary,average_salary,lowest_salary,highest_salary
4744206,Zimbabwe,Africa,555.402040,602.376350,151.423050,2674.772000
3012877,Uganda,Africa,645.210000,698.310000,176.040000,3106.550000
3012889,Western Sahara,Africa,908.560000,1011.670000,254.860000,4503.890000
3012891,Zambia,Africa,0.261335,0.285524,0.072092,1.271103
3012892,Zimbabwe,Africa,555.402040,602.376350,151.423050,2674.772000
...,...,...,...,...,...,...
4043384,Suriname,South America,122.180000,133.570000,33.650000,592.800000
1572572,Paraguay,South America,1019.690000,1126.170000,283.930000,5009.740000
1161568,Venezuela,South America,3282.020000,3862.910000,972.990000,17165.260000
662747,Suriname,South America,122.180000,133.570000,33.650000,592.800000
2589614,Paraguay,South America,1019.690000,1126.170000,283.930000,5009.740000

In [9]:
sorted_order = (
    df.groupby('continent_name' , as_index = False)
    .agg({'median_salary':'mean'})
    .sort_values('median_salary' , ascending = True)
)['continent_name'].values

In [10]:
tp5_highestslry_contry_conti = (
    df.sort_values('highest_salary' , ascending = False).groupby('continent_name')
    .head(5)
    .sort_values(['continent_name','highest_salary'] , ascending = [True, False])
)

cont_order = (
    df.groupby('continent_name')
    .agg({'highest_salary':"max"})
    .sort_values('highest_salary' , ascending = False)
    .index
).tolist()

In [11]:
cont_order = (
    df.groupby('continent_name')
    .agg({'lowest_salary':"min"})
    .sort_values('lowest_salary' , ascending = False)
    .index
).tolist()

tp5_lwstslry_contry_conti = (
    df.sort_values('lowest_salary' , ascending = True).groupby('continent_name')
    .head(5)
    .sort_values(['continent_name','lowest_salary'] , ascending = [True, True])
)