In [1]:
import utils
import pandas as pd
import dask.dataframe as dd

dask_df = dd.read_csv('../datasets/yellow_tripdata_2015-01.csv')
pandas_df = pd.read_csv('../datasets/yellow_tripdata_2015-01.csv')
# Trigger some computatoin before timing anything because read_csv() with Dask is very fast (so, either it's actually
# fast or we need to trigger a computation)
print(dask_df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42                1
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28                1
2         1  2015-01-10 20:33:38   2015-01-10 20:43:41                1
3         1  2015-01-10 20:33:39   2015-01-10 20:35:31                1
4         1  2015-01-10 20:33:39   2015-01-10 20:52:58                1

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.59        -73.993896        40.750111           1
1           3.30        -74.001648        40.724243           1
2           1.80        -73.963341        40.802788           1
3           0.50        -74.009087        40.713818           1
4           3.00        -73.971176        40.762428           1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974785         40.750618             1
1                  N         -73.994415         40.759109             1
2                  N         -73.951820         40.824413             2
3                  N         -74.004326         40.719986             2
4                  N         -74.004181         40.742653             2

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         12.0    1.0      0.5        3.25           0.0
1         14.5    0.5      0.5        2.00           0.0
2          9.5    0.5      0.5        0.00           0.0
3          3.5    0.5      0.5        0.00           0.0
4         15.0    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.05
1                    0.3         17.80
2                    0.3         10.80
3                    0.3          4.80
4                    0.3         16.30

In [2]:
%%time_cell
x = dask_df.sort_values('pickup_longitude').compute()
print(x)

        VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
207014         2  2015-01-27 04:01:58   2015-01-27 04:11:58                2
254581         2  2015-01-27 05:00:26   2015-01-27 05:03:26                2
173010         1  2015-01-16 11:05:51   2015-01-16 11:30:22                1
385056         1  2015-01-09 19:53:01   2015-01-09 20:05:54                1
331321         1  2015-01-08 08:19:21   2015-01-08 08:31:31                3
...          ...                  ...                   ...              ...
32040          1  2015-01-18 19:24:36   2015-01-18 19:42:44                2
32047          1  2015-01-18 19:24:37   2015-01-18 19:34:49                1
31781          2  2015-01-06 12:44:43   2015-01-06 13:06:50                5
411207         1  2015-01-14 14:25:18   2015-01-14 14:31:30                1
184333         1  2015-01-06 20:36:33   2015-01-06 20:46:56                1

        trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
207014           0.00       -121.925812        37.372154           1
254581           0.00       -121.925812        37.372154           1
173010           4.10       -119.314651        59.504623           1
385056           2.50       -108.165337        42.396538           1
331321           1.50       -105.759560        56.952297           1
...               ...               ...              ...         ...
32040            6.80          0.000000         0.000000           1
32047            2.30          0.000000         0.000000           1
31781            3.55          0.000000         0.000000           1
411207           0.90          0.000000         0.000000           1
184333           2.40         78.662651         2.410967           1

       store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
207014                  N           0.000000          0.000000             2
254581                  N           0.000000          0.000000             2
173010                  N         -74.009033         40.711014             2
385056                  N         -73.993912         40.770569             2
331321                  N         -73.981636         40.747051             2
...                   ...                ...               ...           ...
32040                   N           0.000000          0.000000             2
32047                   N           0.000000          0.000000             1
31781                   N           0.000000          0.000000             1
411207                  N           0.000000          0.000000             1
184333                  N          78.662651          2.410967             1

        fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
207014          1.9    0.0      0.0        0.00           0.0
254581          1.8    0.0      0.5        0.00           0.0
173010         17.5    0.0      0.5        0.00           0.0
385056         12.0    1.0      0.5        0.00           0.0
331321          9.0    0.0      0.5        0.00           0.0
...             ...    ...      ...         ...           ...
32040          21.0    0.0      0.5        0.00           0.0
32047           9.5    0.0      0.5        2.05           0.0
31781          16.5    0.0      0.5        3.30           0.0
411207          6.0    0.0      0.5        2.00           0.0
184333         10.0    0.5      0.5        2.20           0.0

        improvement_surcharge  total_amount
207014                    0.0          1.90
254581                    0.3          2.60
173010                    0.3         18.30
385056                    0.3         13.80
331321                    0.3          9.80
...                       ...           ...
32040                     0.3         21.80
32047                     0.3         12.35
31781                     0.3         20.60
411207                    0.3          8.80
184333                    0.3         13.50

[12748986 rows x 19 columns]

In [3]:
dask_time = _TIMED_CELL
print(f"Dask time: {dask_time:.1f}s")

Dask time: 61.0s

In [4]:
%%time_cell
y = pandas_df.sort_values('pickup_longitude')
print(y.head())

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
1488441         2  2015-01-27 05:00:26   2015-01-27 05:03:26                2
1440874         2  2015-01-27 04:01:58   2015-01-27 04:11:58                2
8398001         1  2015-01-16 11:05:51   2015-01-16 11:30:22                1
3263783         1  2015-01-09 19:53:01   2015-01-09 20:05:54                1
6088791         1  2015-01-08 08:19:21   2015-01-08 08:31:31                3

         trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
1488441            0.0       -121.925812        37.372154           1
1440874            0.0       -121.925812        37.372154           1
8398001            4.1       -119.314651        59.504623           1
3263783            2.5       -108.165337        42.396538           1
6088791            1.5       -105.759560        56.952297           1

        store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
1488441                  N           0.000000          0.000000             2
1440874                  N           0.000000          0.000000             2
8398001                  N         -74.009033         40.711014             2
3263783                  N         -73.993912         40.770569             2
6088791                  N         -73.981636         40.747051             2

         fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
1488441          1.8    0.0      0.5         0.0           0.0
1440874          1.9    0.0      0.0         0.0           0.0
8398001         17.5    0.0      0.5         0.0           0.0
3263783         12.0    1.0      0.5         0.0           0.0
6088791          9.0    0.0      0.5         0.0           0.0

         improvement_surcharge  total_amount
1488441                    0.3           2.6
1440874                    0.0           1.9
8398001                    0.3          18.3
3263783                    0.3          13.8
6088791                    0.3           9.8

In [5]:
pandas_time = _TIMED_CELL
print(f"Pandas time: {pandas_time:.1f}s")

Pandas time: 11.5s

In [6]:
slowdown = dask_time / pandas_time
utils.print_md(f"### Dask is {slowdown:.1f}x slower.")

### Dask is 5.3x slower.