`sort_values()` seems to be faster in Modin even though it says it defaults to the Pandas implementation.

In [1]:
import utils
import pandas as pd
import dask.dataframe as dd

dask_df = dd.read_csv('../datasets/yellow_tripdata_2015-01.csv')
pandas_df = pd.read_csv('../datasets/yellow_tripdata_2015-01.csv')
# Trigger some computatoin before timing anything because read_csv() with Dask is very fast (so, either it's actually
# fast or we need to trigger a computation)
print(dask_df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42                1
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28                1
2         1  2015-01-10 20:33:38   2015-01-10 20:43:41                1
3         1  2015-01-10 20:33:39   2015-01-10 20:35:31                1
4         1  2015-01-10 20:33:39   2015-01-10 20:52:58                1

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.59        -73.993896        40.750111           1
1           3.30        -74.001648        40.724243           1
2           1.80        -73.963341        40.802788           1
3           0.50        -74.009087        40.713818           1
4           3.00        -73.971176        40.762428           1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974785         40.750618             1
1                  N         -73.994415         40.759109             1
2                  N         -73.951820         40.824413             2
3                  N         -74.004326         40.719986             2
4                  N         -74.004181         40.742653             2

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         12.0    1.0      0.5        3.25           0.0
1         14.5    0.5      0.5        2.00           0.0
2          9.5    0.5      0.5        0.00           0.0
3          3.5    0.5      0.5        0.00           0.0
4         15.0    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.05
1                    0.3         17.80
2                    0.3         10.80
3                    0.3          4.80
4                    0.3         16.30

In [2]:
%%time_cell
# The Dask DataFrame doesn't seem to have value_counts(), so it seems we need to it for individual Series. This is a bit unfair
# because this loop could be done in parallel, but on the other hand, if it is that simple, then why Dask doesn't do it?
for col in dask_df.columns:
  print(dask_df[col].value_counts().compute())

2    6647797
1    6101189
Name: VendorID, dtype: int64
2015-01-05 09:39:49    94
2015-01-12 19:02:27    41
2015-01-12 18:55:17    39
2015-01-14 16:13:52    32
2015-01-14 13:20:13    29
                       ..
2015-01-11 21:33:54     1
2015-01-17 06:26:23     1
2015-01-17 06:26:22     1
2015-01-27 20:14:30     1
2015-01-28 04:38:42     1
Name: tpep_pickup_datetime, Length: 2438284, dtype: int64
2015-01-02 00:00:00    142
2015-01-04 00:00:00    133
2015-02-01 00:00:00    132
2015-01-03 00:00:00    129
2015-01-11 00:00:00    119
                      ...
2015-01-16 02:08:54      1
2015-01-16 02:08:56      1
2015-01-16 02:09:07      1
2015-01-16 02:09:09      1
2016-02-02 16:30:52      1
Name: tpep_dropoff_datetime, Length: 2442163, dtype: int64
1    8993870
2    1814594
5     697645
3     528486
6     454568
4     253228
0       6565
9         11
8         10
7          9
Name: passenger_count, dtype: int64
0.90           304042
0.80           300724
1.00           298316
1.10           285482
0.70           285190
                ...
40.71               1
40.72               1
40.75               1
40.79               1
15420004.50         1
Name: trip_distance, Length: 4350, dtype: int64
 0.000000     243478
-73.982224      4793
-73.982239      4769
-73.982079      4752
-73.982117      4655
               ...
-74.022804         1
-74.022789         1
-74.022781         1
-74.022758         1
 78.662651         1
Name: pickup_longitude, Length: 35900, dtype: int64
0.000000      243478
40.774109       2693
40.774078       2681
40.774101       2655
40.774071       2654
               ...
40.594925          1
40.594658          1
40.594608          1
40.594509          1
404.700012         1
Name: pickup_latitude, Length: 62748, dtype: int64
1     12464898
2       224723
5        36896
3        17700
4         4128
99         507
6          134
Name: RateCodeID, dtype: int64
N    12633953
Y      115033
Name: store_and_fwd_flag, dtype: int64
 0.000000     235318
-73.982224      3721
-73.982239      3692
-73.982330      3680
-73.982384      3585
               ...
-74.064911         1
-74.064804         1
-74.064758         1
-74.064705         1
 85.274025         1
Name: dropoff_longitude, Length: 53297, dtype: int64
0.000000      235319
40.750149       1903
40.750198       1803
40.750172       1798
40.750221       1788
               ...
40.613865          1
40.613884          1
40.613907          1
40.613968          1
459.533325         1
Name: dropoff_latitude, Length: 87523, dtype: int64
1    7881388
2    4816992
3      38632
4      11972
5          2
Name: payment_type, dtype: int64
6.00       685215
6.50       674885
5.50       669222
7.00       654005
7.50       622979
            ...
58.38           1
58.19           1
58.15           1
58.03           1
4008.00         1
Name: fare_amount, Length: 2053, dtype: int64
 0.00      6710070
 0.50      4219099
 1.00      1817390
-0.50         1436
-1.00          502
 0.01          191
 1.50          143
 0.02           41
 2.00           16
 0.30           15
 0.80           10
 2.46            5
 2.50            5
 3.00            5
 1.23            4
 0.70            4
 4.00            4
 26.56           4
 0.20            3
 7.00            3
 4.50            2
 24.71           1
 445.87          1
 648.02          1
 9.00            1
 620.92          1
 606.12          1
 605.45          1
 12.00           1
 12.50           1
 146.75          1
 100.00          1
 87.25           1
 29.01           1
 28.50           1
 8.00            1
-79.00           1
 5.50            1
 5.00            1
-49.60           1
-45.66           1
-42.50           1
-40.71           1
-20.00           1
-2.00            1
-0.70            1
-0.40            1
-0.09            1
 0.05            1
 0.19            1
 0.25            1
 1.30            1
-56.70           1
 3.50            1
 999.99          1
Name: extra, dtype: int64
 0.5    12696762
 0.0       48317
-0.5        3907
Name: mta_tax, dtype: int64
0.00          5137767
1.00          1057744
2.00           532761
1.50           340854
3.00           168351
               ...
31.56               1
31.58               1
31.69               1
31.70               1
3950588.80          1
Name: tip_amount, Length: 3596, dtype: int64
0.00       12208531
5.33         501904
11.75          8228
9.75           5870
2.44           5197
             ...
7.31              1
7.34              1
19.97             1
19.95             1
1450.09           1
Name: tolls_amount, Length: 932, dtype: int64
0.3    12032621
0.0      716362
Name: improvement_surcharge, dtype: int64
6.80          414980
7.30          382941
8.30          381587
7.80          373868
9.80          367476
               ...
101.14             1
101.19             1
101.22             1
101.26             1
3950611.60         1
Name: total_amount, Length: 11969, dtype: int64

In [3]:
dask_time = _TIMED_CELL
print(f"Dask time: {dask_time:.1f}s")

Dask time: 121.5s

In [4]:
%%time_cell
print(pandas_df.value_counts())

VendorID  tpep_pickup_datetime  tpep_dropoff_datetime  passenger_count  trip_distance  pickup_longitude  pickup_latitude  RateCodeID  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount
2         2015-01-05 09:39:49   2015-01-05 09:39:52    1                0.00            0.000000         0.000000         1           N                    0.000000          0.000000          2             2.5          0.0    0.5      0.00        0.0           0.3                    3.30            92
          2015-01-12 19:02:27   2015-01-12 19:04:07    1                0.00            0.000000         0.000000         1           N                    0.000000          0.000000          2             2.1          0.0    0.5      0.00        0.0           0.3                    2.90            33
          2015-01-12 18:55:17   2015-01-12 18:56:27    1                0.00            0.000000         0.000000         1           N                    0.000000          0.000000          2             2.1          0.0    0.5      0.00        0.0           0.3                    2.90            32
          2015-01-14 13:33:20   2015-01-14 13:35:19    1                0.00            0.000000         0.000000         1           N                    0.000000          0.000000          2             2.1          0.0    0.5      0.00        0.0           0.3                    2.90            21
          2015-01-14 13:26:46   2015-01-14 13:27:24    1                0.00            0.000000         0.000000         1           N                    0.000000          0.000000          2             2.0          0.0    0.5      0.00        0.0           0.3                    2.80            21
                                                                                                                                                                                                                                                                                                           ..
1         2015-01-22 08:30:21   2015-01-22 08:47:01    1                2.70           -73.963303        40.793682        1           N                   -73.980194         40.761913         1             13.0         0.0    0.5      2.75        0.0           0.3                    16.55            1
          2015-01-22 08:30:22   2015-01-22 08:38:02    1                1.30           -73.977280        40.752533        1           N                   -73.993301         40.747398         1             7.5          0.0    0.5      2.01        0.0           0.3                    10.31            1
                                2015-01-22 08:41:44    1                1.70           -73.986748        40.743092        1           N                   -73.969528         40.761635         1             9.5          0.0    0.5      2.05        0.0           0.3                    12.35            1
                                2015-01-22 08:43:13    1                1.70           -73.999329        40.744019        1           N                   -73.981361         40.758972         1             10.0         0.0    0.5      2.15        0.0           0.3                    12.95            1
2         2015-01-31 23:59:59   2015-02-01 00:25:54    3                3.26           -73.971092        40.755676        1           N                   -73.995338         40.717506         1             17.5         0.5    0.5      2.00        0.0           0.3                    20.80            1
Length: 12748600, dtype: int64

In [5]:
pandas_time = _TIMED_CELL
print(f"Pandas time: {pandas_time:.1f}s")

Pandas time: 40.0s

In [6]:
slowdown = dask_time / pandas_time
utils.print_md(f"### Dask is {slowdown:.1f}x slower.")

### Dask is 3.0x slower.