In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='../input/Airline Dataset.csv', parse_dates=['Departure Date'])
df.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,2022-06-28,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,2022-12-26,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,2022-01-18,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,2022-09-16,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2022-02-25,SEE,Bay Pencost,On Time

In [2]:
df = df
intended_df_size_in_MB = 256
factor = intended_df_size_in_MB*(2**20)//df.memory_usage(index=True).sum()
if factor > 0:
    df = pd.concat([df]*factor, ignore_index=True)
df = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2169618 entries, 0 to 2169617
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   Passenger ID          int64
 1   First Name            object
 2   Last Name             object
 3   Gender                object
 4   Age                   int64
 5   Nationality           object
 6   Airport Name          object
 7   Airport Country Code  object
 8   Country Name          object
 9   Airport Continent     object
 10  Continents            object
 11  Departure Date        datetime64[ns]
 12  Arrival Airport       object
 13  Pilot Name            object
 14  Flight Status         object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 248.3+ MB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2169618 entries, 0 to 2169617
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   Passenger ID          int64
 1   First Name            object
 2   Last Name             object
 3   Gender                object
 4   Age                   int64
 5   Nationality           object
 6   Airport Name          object
 7   Airport Country Code  object
 8   Country Name          object
 9   Airport Continent     object
 10  Continents            object
 11  Departure Date        datetime64[ns]
 12  Arrival Airport       object
 13  Pilot Name            object
 14  Flight Status         object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 248.3+ MB

In [3]:
df.nunique()

Passenger ID            59871
First Name               8437
Last Name               41658
Gender                      2
Age                        90
Nationality               240
Airport Name             9062
Airport Country Code      235
Country Name              235
Airport Continent           6
Continents                  6
Departure Date            364
Arrival Airport          9024
Pilot Name              98610
Flight Status               3
dtype: int64

This is a little surprising and sugggests this is a sample from a larger dataset chosen to have essentially equal age buckets.

Flight Status being uniformly distributed seems unlikely unless this is a carefully chosen sample from a larger population.

In [4]:
df['Departure Date'].dt.year.value_counts()

2022    98619
Name: Departure Date, dtype: int64

In [5]:
df['Last Name'].value_counts().nlargest(n=10)

Dyball       17
Capron       15
Ducker       13
Richfield    12
Danaher      11
Knight       10
Okenden      10
Dunbabin     10
Watkiss      10
Challenor    10
Name: Last Name, dtype: int64

Chances are very good this is synthetic data.