In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

../input/.DS_Store
../input/StudentsPerformance_with_headers.csv
../input/highereducationstudentsperformanceevaluation/DATA (1).csv

In [2]:
df = pd.read_csv('../input/highereducationstudentsperformanceevaluation/DATA (1).csv')
df.head()

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1

In [3]:
df = df
intended_df_size_in_MB = 256
factor = intended_df_size_in_MB*(2**20)//df.memory_usage(index=True).sum()
if factor > 0:
    df = pd.concat([df]*factor, ignore_index=True)
df = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013405 entries, 0 to 1013404
Data columns (total 33 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   STUDENT ID  1013405 non-null  object
 1   1           1013405 non-null  int64
 2   2           1013405 non-null  int64
 3   3           1013405 non-null  int64
 4   4           1013405 non-null  int64
 5   5           1013405 non-null  int64
 6   6           1013405 non-null  int64
 7   7           1013405 non-null  int64
 8   8           1013405 non-null  int64
 9   9           1013405 non-null  int64
 10  10          1013405 non-null  int64
 11  11          1013405 non-null  int64
 12  12          1013405 non-null  int64
 13  13          1013405 non-null  int64
 14  14          1013405 non-null  int64
 15  15          1013405 non-null  int64
 16  16          1013405 non-null  int64
 17  17          1013405 non-null  int64
 18  18          1013405 non-null  int64
 19  19          1013405 non-null  int64
 20  20          1013405 non-null  int64
 21  21          1013405 non-null  int64
 22  22          1013405 non-null  int64
 23  23          1013405 non-null  int64
 24  24          1013405 non-null  int64
 25  25          1013405 non-null  int64
 26  26          1013405 non-null  int64
 27  27          1013405 non-null  int64
 28  28          1013405 non-null  int64
 29  29          1013405 non-null  int64
 30  30          1013405 non-null  int64
 31  COURSE ID   1013405 non-null  int64
 32  GRADE       1013405 non-null  int64
dtypes: int64(32), object(1)
memory usage: 255.1+ MB

In [3]:
df.shape

(145, 33)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STUDENT ID  145 non-null    object
 1   1           145 non-null    int64
 2   2           145 non-null    int64
 3   3           145 non-null    int64
 4   4           145 non-null    int64
 5   5           145 non-null    int64
 6   6           145 non-null    int64
 7   7           145 non-null    int64
 8   8           145 non-null    int64
 9   9           145 non-null    int64
 10  10          145 non-null    int64
 11  11          145 non-null    int64
 12  12          145 non-null    int64
 13  13          145 non-null    int64
 14  14          145 non-null    int64
 15  15          145 non-null    int64
 16  16          145 non-null    int64
 17  17          145 non-null    int64
 18  18          145 non-null    int64
 19  19          145 non-null    int64
 20  20          145 non-null    int64
 21  21          145 non-null    int64
 22  22          145 non-null    int64
 23  23          145 non-null    int64
 24  24          145 non-null    int64
 25  25          145 non-null    int64
 26  26          145 non-null    int64
 27  27          145 non-null    int64
 28  28          145 non-null    int64
 29  29          145 non-null    int64
 30  30          145 non-null    int64
 31  COURSE ID   145 non-null    int64
 32  GRADE       145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB

### Names
Due to all the names of these data-points being hidden behind ascending integers, were gonna grab and rename a handful of values I think are interesting.

In [5]:
# Rename columns
df.rename(columns={'1': 'AGE', '7': 'SINGLE','20':'ATTENDENCE','25':'NOTETAKING','30': 'GPA'}, inplace=True)

# Access the renamed columns using loc
preview_columns = ['AGE', 'SINGLE', 'NOTETAKING','GPA','GRADE']
df.loc[:, preview_columns].head()

   AGE  SINGLE  NOTETAKING  GPA  GRADE
0    2       2           3    1      1
1    2       2           3    3      1
2    2       2           2    2      1
3    1       1           3    2      1
4    2       1           2    2      1

In [6]:
df_clean = df.copy()

# List of columns to keep
selected_columns = [
    'AGE',
    'SINGLE',
    'NOTETAKING',
    'GPA',
    'GRADE',
    'ATTENDENCE',
]

# Get the list of columns that exist in the DataFrame but are not in the selected_columns list
columns_to_remove = [col for col in df_clean.columns if col not in selected_columns]

# Drop the columns that are not in the selected_columns list
df_clean.drop(columns=columns_to_remove, inplace=True)

# Display DataFrame info to verify
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGE         145 non-null    int64
 1   SINGLE      145 non-null    int64
 2   ATTENDENCE  145 non-null    int64
 3   NOTETAKING  145 non-null    int64
 4   GPA         145 non-null    int64
 5   GRADE       145 non-null    int64
dtypes: int64(6)
memory usage: 6.9 KB

In [7]:
df_cut = df.copy()
#Cutting our data to make it more managable
columns_to_remove = [
    '3',
    '9',
    '10',
    '14',
    '15',
    '16',
    '21',
    '23',
    '24',
    '28',
    '5',
    '6',
    '22',
    'COURSE ID',
]
# Drop the columns to remove
df_cut.drop(columns=columns_to_remove, inplace=True)

# Display DataFrame info to verify
df_cut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STUDENT ID  145 non-null    object
 1   AGE         145 non-null    int64
 2   2           145 non-null    int64
 3   4           145 non-null    int64
 4   SINGLE      145 non-null    int64
 5   8           145 non-null    int64
 6   11          145 non-null    int64
 7   12          145 non-null    int64
 8   13          145 non-null    int64
 9   17          145 non-null    int64
 10  18          145 non-null    int64
 11  19          145 non-null    int64
 12  ATTENDENCE  145 non-null    int64
 13  NOTETAKING  145 non-null    int64
 14  26          145 non-null    int64
 15  27          145 non-null    int64
 16  29          145 non-null    int64
 17  GPA         145 non-null    int64
 18  GRADE       145 non-null    int64
dtypes: int64(18), object(1)
memory usage: 21.6+ KB

In [8]:
# Rename columns
df_cut.rename(columns={
    '1': 'AGE',
    '2': 'SEX',
    '4': 'SCHOLSHIP',
    '7': 'SINGLE',
    '8': 'SALARY',
    '11': 'MOTHERS_EDU',
    '12': 'FATHERS_EDU',
    '13': 'SIBLNIGS',
    '17': 'STUDY_HOURS',
    '18': 'READS_NON_FIC',
    '19': 'READS_FIC',
    '25': 'NOTETAKING',
    '26': 'LISTENS',
    '27': 'DISCUSSION',
    '29': 'PAST_GPA',
    '30': 'GPA',}, inplace=True)