In [17]:
import os
SNAPPY_notebook_path = os.path.join(os.path.abspath(""), "bench.ipynb")

time: 285 µs (started: 2024-05-07 17:19:29 -04:00)

In [18]:
import time
SNAPPY_start_time = time.perf_counter_ns()

time: 2.58 ms (started: 2024-05-07 17:19:29 -04:00)

In [19]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 313 µs (started: 2024-05-07 17:19:29 -04:00)

## This notebook analyses growth of startsup's in India during 2016 to 2022.

# Import Libraries

In [20]:
import numpy as np 
import os
# STEFANOS: Conditionally import Modin Pandas
import pandas as pd


# from wordcloud import WordCloud
import string

time: 293 µs (started: 2024-05-07 17:19:29 -04:00)

# Visualisations

In [21]:
df = pd.read_csv(os.path.abspath('') + '/input/indian-startup-recognized-by-dpiit/Startup_Counts_Across_India.csv')
# df.head().style.background_gradient(cmap='coolwarm')

time: 39 ms (started: 2024-05-07 17:19:30 -04:00)

# -- STEFANOS -- Replicate Data

In [22]:
factor = 2500
df = pd.concat([df]*factor, ignore_index=True)
# df.info()

time: 200 ms (started: 2024-05-07 17:19:30 -04:00)

## Industry Vs Year

In [23]:
# STEFANOS: Disable plotting
# fig = px.scatter(df,x="Industry", y="Year", size="Count", color="Count",template='plotly_dark', title="Industry Vs Year")
# fig.show()

time: 213 µs (started: 2024-05-07 17:19:30 -04:00)

## Year wise Startup Growth

In [24]:
# fig, ax = plt.subplots(1,1, figsize=(15, 6))
df_year = df['Year'].value_counts().sort_index()
# STEFANOS: Disable plotting
# ax.bar(df_year.index, df_year, width=0.55,linewidth=0.7, color = 'purple')
# for i in df_year.index:
#     ax.annotate(f"{df_year[i]}",xy=(i, df_year[i] + 100),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 1300)    
# fig.text(0.1, 0.95, "Growth of Startup's from 2016-2022", fontsize=15, fontweight='bold')    

# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 65.7 ms (started: 2024-05-07 17:19:30 -04:00)

## Various Industries and Its Count

In [25]:
df.groupby('Industry').size().sort_values(ascending=False).to_frame()

                                          0
Industry
IT Services                          440000
Education                            397500
Construction                         395000
Healthcare & Lifesciences            392500
Food & Beverages                     390000
Professional & Commercial Services   390000
Agriculture                          380000
Travel & Tourism                     367500
Retail                               360000
Marketing                            355000
Green Technology                     352500
Renewable Energy                     347500
Technology Hardware                  337500
Transportation & Storage             337500
Textiles & Apparel                   322500
Media & Entertainment                322500
Human Resources                      322500
Enterprise Software                  320000
Automotive                           305000
Internet of Things                   302500
Finance Technology                   297500
AI                                   295000
Security Solutions                   292500
Advertising                          282500
Telecommunication & Networking       282500
House-Hold Services                  277500
Other Specialty Retailers            272500
Non- Renewable Energy                270000
Real Estate                          267500
Fashion                              265000
Chemicals                            265000
Design                               260000
Social Impact                        252500
Social Network                       250000
Aeronautics Aerospace & Defence      247500
Robotics                             247500
Analytics                            240000
AR VR (Augmented + Virtual Reality)  235000
Events                               235000
Architecture Interior Design         230000
Art & Photography                    225000
Sports                               210000
Computer Vision                      197500
Safety                               192500
Others                               187500
Pets & Animals                       182500
Waste Management                     147500
Nanotechnology                       147500
NOT SPECIFIED                        142500
Logistics                            142500
Dating Matrimonial                   112500
Animation                            107500
Biotechnology                        102500
Indic Language Startups               95000
Toys and Games                        92500
Airport Operations                    25000
Passenger Experience                  15000

time: 557 ms (started: 2024-05-07 17:19:30 -04:00)

## Top 20 Startup Industries from 2016

In [26]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
df_ind = df['Industry'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(df_ind.index, df_ind, width=0.55,linewidth=0.7, color = 'pink')
# for i in df_ind.index:
#     ax.annotate(f"{df_ind[i]}",xy=(i, df_ind[i] + 20),va = 'center', ha='center')
# ax.set_ylim(0, 220)    
# fig.text(0.1, 0.95, "Top 20 Startup Industries from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 335 ms (started: 2024-05-07 17:19:30 -04:00)

## Top 20 States with Max Startup's

In [27]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
X = df['State'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(X.index, X, width=0.55,linewidth=0.7, color = 'lightblue')
# for i in X.index:
#     ax.annotate(f"{X[i]}",xy=(i, X[i] + 50),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 400)    
# fig.text(0.1, 0.95, "Top 20 States Having maximum Start'ups from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 336 ms (started: 2024-05-07 17:19:31 -04:00)

## AI related Startup's from 2016-2022

In [28]:
ds_list=['Internet of Things','AI','Robotics','Analytics','Computer Vision']
ds_df = df[df['Industry'].isin(ds_list)]

time: 274 ms (started: 2024-05-07 17:19:31 -04:00)

In [29]:
SNAPPY_end_time = time.perf_counter_ns()
print("Total elapsed time:", (SNAPPY_end_time - SNAPPY_start_time) / (10 ** 9))

Total elapsed time: 1.848755493
time: 312 µs (started: 2024-05-07 17:19:31 -04:00)