In [1]:
import os
SNAPPY_notebook_path = os.path.join(os.path.abspath(""), "bench.ipynb")

In [2]:
import time
SNAPPY_start_time = time.perf_counter_ns()

In [3]:
%load_ext autotime

time: 38.5 µs (started: 2024-05-22 22:03:12 -04:00)

## This notebook analyses growth of startsup's in India during 2016 to 2022.

# Import Libraries

In [4]:
import numpy as np 
import os
# STEFANOS: Conditionally import Modin Pandas
import pandas as pd


# from wordcloud import WordCloud
import string

time: 222 ms (started: 2024-05-22 22:03:12 -04:00)

# Visualisations

In [5]:
df = pd.read_csv(os.path.abspath('') + '/input/indian-startup-recognized-by-dpiit/Startup_Counts_Across_India.csv')
# df.head().style.background_gradient(cmap='coolwarm')

time: 4.34 ms (started: 2024-05-22 22:03:12 -04:00)

# -- STEFANOS -- Replicate Data

In [6]:
factor = 2500
df = pd.concat([df]*factor, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14727500 entries, 0 to 14727499
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   S No.     int64
 1   Year      int64
 2   State     object
 3   Industry  object
 4   Count     int64
dtypes: int64(3), object(2)
memory usage: 561.8+ MB
time: 425 ms (started: 2024-05-22 22:03:12 -04:00)

## Industry Vs Year

In [7]:
# STEFANOS: Disable plotting
# fig = px.scatter(df,x="Industry", y="Year", size="Count", color="Count",template='plotly_dark', title="Industry Vs Year")
# fig.show()

time: 163 µs (started: 2024-05-22 22:03:13 -04:00)

## Year wise Startup Growth

In [8]:
# fig, ax = plt.subplots(1,1, figsize=(15, 6))
df_year = df['Year'].value_counts().sort_index()
# STEFANOS: Disable plotting
# ax.bar(df_year.index, df_year, width=0.55,linewidth=0.7, color = 'purple')
# for i in df_year.index:
#     ax.annotate(f"{df_year[i]}",xy=(i, df_year[i] + 100),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 1300)    
# fig.text(0.1, 0.95, "Growth of Startup's from 2016-2022", fontsize=15, fontweight='bold')    

# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 78.6 ms (started: 2024-05-22 22:03:13 -04:00)

## Various Industries and Its Count

In [9]:
df.groupby('Industry').size().sort_values(ascending=False).to_frame().style.background_gradient(cmap='coolwarm')

time: 924 ms (started: 2024-05-22 22:03:13 -04:00)

## Top 20 Startup Industries from 2016

In [10]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
df_ind = df['Industry'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(df_ind.index, df_ind, width=0.55,linewidth=0.7, color = 'pink')
# for i in df_ind.index:
#     ax.annotate(f"{df_ind[i]}",xy=(i, df_ind[i] + 20),va = 'center', ha='center')
# ax.set_ylim(0, 220)    
# fig.text(0.1, 0.95, "Top 20 Startup Industries from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 301 ms (started: 2024-05-22 22:03:14 -04:00)

## Top 20 States with Max Startup's

In [11]:
# fig, ax = plt.subplots(1,1, figsize=(20, 6))
X = df['State'].value_counts().iloc[:20]

# STEFANOS: Disable plotting
# ax.bar(X.index, X, width=0.55,linewidth=0.7, color = 'lightblue')
# for i in X.index:
#     ax.annotate(f"{X[i]}",xy=(i, X[i] + 50),
#                    va = 'center', ha='center')
# ax.set_ylim(0, 400)    
# fig.text(0.1, 0.95, "Top 20 States Having maximum Start'ups from 2016", fontsize=15, fontweight='bold')    
# plt.xticks(rotation=90)
# ax.grid(axis='y', linestyle='-', alpha=0.4)

time: 301 ms (started: 2024-05-22 22:03:14 -04:00)

## AI related Startup's from 2016-2022

In [12]:
ds_list=['Internet of Things','AI','Robotics','Analytics','Computer Vision']
ds_df = df[df['Industry'].isin(ds_list)]

time: 615 ms (started: 2024-05-22 22:03:14 -04:00)

In [13]:
SNAPPY_end_time = time.perf_counter_ns()
print("Total elapsed time:", (SNAPPY_end_time - SNAPPY_start_time) / (10 ** 9))

Total elapsed time: 2.913698353
time: 310 µs (started: 2024-05-22 22:03:15 -04:00)